.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.Normal {
    padding: 0px;
    width: 700px;
}
.Normal_External_660_38 {
    position: relative;
}
.Title {
    color: rgb(0, 0, 0);
    font-family: 'ComicSansMS-Bold', 'Comic Sans MS';
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.graphic_generic_header_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(244, 51, 46);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(146, 146, 146);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
.btn {
  background: #55d934;
  background-image: -webkit-linear-gradient(top, #55d934, #29ffed);
  background-image: -moz-linear-gradient(top, #55d934, #29ffed);
  background-image: -ms-linear-gradient(top, #55d934, #29ffed);
  background-image: -o-linear-gradient(top, #55d934, #29ffed);
  background-image: linear-gradient(to bottom, #55d934, #29ffed);
  -webkit-border-radius: 51;
  -moz-border-radius: 51;
  border-radius: 51px;
  text-shadow: 7px 0px 0px #ff0000;
  -webkit-box-shadow: 9px 12px 0px #666666;
  -moz-box-shadow: 9px 12px 0px #666666;
  box-shadow: 9px 12px 0px #666666;
  font-family: Georgia;
  color: #0900ff;
  font-size: 100px;
  padding: 17px;
  border: dotted #0dff00 4px;
  text-decoration: none;
}

.btn:hover {
  background: #f7ff00;
  background-image: -webkit-linear-gradient(top, #f7ff00, #f200ff);
  background-image: -moz-linear-gradient(top, #f7ff00, #f200ff);
  background-image: -ms-linear-gradient(top, #f7ff00, #f200ff);
  background-image: -o-linear-gradient(top, #f7ff00, #f200ff);
  background-image: linear-gradient(to bottom, #f7ff00, #f200ff);
  text-decoration: none;
}
